body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #2C2C2C;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    background: linear-gradient(135deg, #2C2C2C, #8B0000, #FF0000);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    color: white;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #8b0000;
}

.name {
    font-size: 24px;
    color: white;
    background: #8b0000;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.title {
    font-size: 18px;
    color: #ff4d4d;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #bbb;
    text-align: justify;
    margin-bottom: 15px;
}

.btnContainer {
    margin-top: 15px;
}

.btnRegister {
    background:  #2C2C2C;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btnRegister:hover {
    background: #ff0000;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.social-links li {
    display: inline;
}

.social-links a {
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
    color: white;
    background: #2C2C2C;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.github { background: #333; }
.linkedin { background: #0077b5; }

.social-links a:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
